
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//jQuery UI
@import '~jquery-ui/themes/base/all.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer-ers {
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
  min-height: 60px;
}

.cont{
	min-height: 500px;
}
.list-group{
  padding: 0px 20px 0px 20px;
}
.footer-ers{
  padding: 20px;
}
.material-icons{
    font-size: 16px;
    padding-bottom:3px;
    vertical-align: middle;
}